#!/bin/bash

ENV_NS=$1
if [ -z "$ENV_NS" ]; then
  echo "❌ Usage: $0 <namespace>"
  exit 1
fi

kubectl create namespace $ENV_NS --dry-run=client -o yaml | kubectl apply -f -

kubectl create secret generic s3-credentials \
  --from-literal=accessKey=AKIA1234EXAMPLE \
  --from-literal=secretKey=SECRETKEYEXAMPLE \
  -n $ENV_NS

kubectl create secret generic postgres-credentials \
  --from-literal=host=my-rds.amazonaws.com \
  --from-literal=username=admin \
  --from-literal=password=mySuperSecret \
  -n $ENV_NS 